<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="../../../../resources/ict/css/login.css" rel="stylesheet" type="text/css" />
  <script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
  <script src="../../../../resources/ict/js/login.js" type="text/javascript"></script>
  <title>로그인</title>
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <div class="title_wrapper">
        <img alt="" src="../../../../resources/ict/img/user.svg">
        <div class="title">
          안녕하세요<br>
          서로이음도서관입니다.
        </div>
        <div class="sub_title">
          회원 서비스 이용을 위해 로그인 해주세요
        </div>
      </div>
      <div class="input_wrapper">
        <label class="label" for="number">
          <img alt="" src="../../../../resources/ict/img/card.svg">
          <input class="input" id="number" name="number" placeholder="회원번호를 입력해주세요" type="number">
        </label>
        <label class="mt label" for="name">
          <img alt="" src="../../../../resources/ict/img/small_user.svg">
          <input class="input" id="name" name="name" placeholder="이름을 입력해주세요" type="text">
        </label>
        <div class="login" role="button">로그인</div>
        <div class="caption">회원증으로 간편로그인하세요</div>
        <div class="rfid_login" role="button">회원증 RFID로 로그인</div>
      </div>
    </div>
    <div class="popup_overlay" id="popup">
      <div class="popup_wrapper">
        <div class="popup_title">로그인</div>
        <div class="popup_content">
          회원번호를 입력해주세요
        </div>
        <div class="close_btn close">
          확인
        </div>
      </div>
    </div>
    <ul class="navigation">
      <li>
        <img alt="공지사항" class="item" src="../../../../resources/ict/img/notifications.svg" />
        <div class="menu">공지사항</div>
        <span>NOTICE</span>
      </li>
      <li>
        <img alt="이용안내" class="item" src="../../../../resources/ict/img/account_balance.svg" />
        <div class="menu">이용안내</div>
        <span>INFORMATION</span>
      </li>
      <li>
        <img alt="시설안내" class="item" src="../../../../resources/ict/img/location.svg" />
        <div class="menu">시설안내</div>
        <span>FACILITY</span>
      </li>
      <li>
        <img alt="신착도서" class="item" src="../../../../resources/ict/img/bookmark.svg" />
        <div class="menu">신착도서</div>
        <span>NEW BOOK</span>
      </li>
      <li>
        <img alt="대출베스트" class="item" src="../../../../resources/ict/img/home.svg" />
        <div class="menu">대출베스트</div>
        <span>BEST</span>
      </li>
      <li>
        <img alt="강좌안내" class="item" src="../../../../resources/ict/img/supervisor_account.svg" />
        <div class="menu">강좌안내</div>
        <span>COURSE</span>
      </li>
    </ul>
  </div>
</body>
</html>