<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="../../../../resources/ict/css/login.css" rel="stylesheet" type="text/css" />
  <title>로그인</title>
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <div class="title_wrapper">
        <img src="../../../../resources/ict/img/user.svg" alt="">
        <div class="title">
          안녕하세요<br>
          서로이음도서관입니다.
        </div>
        <div class="sub_title">
          회원 서비스 이용을 위해 로그인 해주세요
        </div>
      </div>

      <div class="input_wrapper">
        <label for="number" class="label">
          <img src="../../../../resources/ict/img/card.svg" alt="">
          <input type="number" name="number" id="number" placeholder="회원번호를 입력해주세요" class="input">
        </label>
        <label for="name" class="mt label">
          <img src="../../../../resources/ict/img/small_user.svg" alt="">
          <input type="text" name="name" id="name" placeholder="이름을 입력해주세요" class="input">
        </label>
        <div role="button" class="login">로그인</div>
        <div class="caption">회원증으로 간편로그인하세요</div>
        <div role="button" class="rfid_login">회원증 RFID로 로그인</div>
      </div>
    </div>

    <ul class="navigation">
      <li>
        <img alt="공지사항" class="item" src="../../../../resources/ict/img/notifications.svg" />
        <div class="menu">공지사항</div>
        <span>NOTICE</span>
      </li>
      <li>
        <img alt="이용안내" class="item" src="../../../../resources/ict/img/account_balance.svg" />
        <div class="menu">이용안내</div>
        <span>INFORMATION</span>
      </li>
      <li>
        <img alt="시설안내" class="item" src="../../../../resources/ict/img/location.svg" />
        <div class="menu">시설안내</div>
        <span>FACILITY</span>
      </li>
      <li>
        <img alt="신착도서" class="item" src="../../../../resources/ict/img/bookmark.svg" />
        <div class="menu">신착도서</div>
        <span>NEW BOOK</span>
      </li>
      <li>
        <img alt="대출베스트" class="item" src="../../../../resources/ict/img/home.svg" />
        <div class="menu">대출베스트</div>
        <span>BEST</span>
      </li>
      <li>
        <img alt="강좌안내" class="item" src="../../../../resources/ict/img/supervisor_account.svg" />
        <div class="menu">강좌안내</div>
        <span>COURSE</span>
      </li>
    </ul>
  </div>
</body>
</html>