<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="../../../../resources/ict/css/rfid_login.css" rel="stylesheet" type="text/css" />
  <title>RFID 로그인</title>
</head>
<body>
<div class="container">
  <div class="wrapper">
    <div class="title">RFID 로그인</div>
    <div class="sub_title">기기 하단의 회원증 인식부에 회원증을 올려주세요</div>
    <img src="../../../../resources/ict/img/rfid.svg" alt="">
  </div>
  <ul class="navigation">
    <li>
      <img alt="공지사항" class="item" src="../../../../resources/ict/img/notifications.svg" />
      <div class="menu">공지사항</div>
      <span>NOTICE</span>
    </li>
    <li>
      <img alt="이용안내" class="item" src="../../../../resources/ict/img/account_balance.svg" />
      <div class="menu">이용안내</div>
      <span>INFORMATION</span>
    </li>
    <li>
      <img alt="시설안내" class="item" src="../../../../resources/ict/img/location.svg" />
      <div class="menu">시설안내</div>
      <span>FACILITY</span>
    </li>
    <li>
      <img alt="신착도서" class="item" src="../../../../resources/ict/img/bookmark.svg" />
      <div class="menu">신착도서</div>
      <span>NEW BOOK</span>
    </li>
    <li>
      <img alt="대출베스트" class="item" src="../../../../resources/ict/img/home.svg" />
      <div class="menu">대출베스트</div>
      <span>BEST</span>
    </li>
    <li>
      <img alt="강좌안내" class="item" src="../../../../resources/ict/img/supervisor_account.svg" />
      <div class="menu">강좌안내</div>
      <span>COURSE</span>
    </li>
  </ul>
</div>
</body>
</html>